body{
    background-image: url(bu0xtxjacqjvjda7gzdy.jpeg);
}
.bleu{
 background-color: aquamarine;
 border-radius: 5px;
 width: max-content;
 height: 500px;
 display: flex;
}
.p1,.p2{
background-color: dimgrey;
width:500px;
border:1px solid white ;
padding-left:10px ;
margin: 10px;
}